---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 01 2018')}
>
	<div style="display: flex; justify-content: center;">
		<img src="/eu.png" alt="Jonathan" style="width:400px" />
	</div>
	<p>
		Hey, I'm Jonathan, 24, from Brazil, and I started learning and working in IT when I was 14 years old. During university, I was involved in projects and study groups related to shared knowledge in open talks, about distributed systems, AI, Big Data, and even some crazy startup ideas. I've already graduated, and since 2018, I've been working in startup environments, dedicating myself to enhancing my engineering career.
	</p>
	<p>
	In the professional field, I have experience in building microservices, event-driven pipelines, and REST APIs using Golang and Python. Additionally, I have experience managing various infrastructure components across different cloud providers such as AWS, Azure, and GCP.
	</p>
	<p>
	I enjoy being in environments that promote creativity and free speech, where I can learn a lot and share ideas with my colleagues. I consider myself a dedicated and energetic guy, looking to collaborate with skilled and intelligent people to build exciting things together.
	</p>
</Layout>
